<div fxLayout="column">
  <div fxLayout="row" style="text-align:center;">
    <nav fxFlex="25" fxFlexOrder.xs="2">
      <div></div>
    </nav>
    <article fxFlex="50" fxFlexOrder.xs="1">
      <div>
        <H1>Create Advertisement</H1>
      </div>
      <div>
        <form [formGroup]='formSvc.form' (ngSubmit)="formSvc.form.valid && onSubmit()" novalidate>
          <fieldset style="text-align:left;">
            <legend>User Details </legend>
            <div>
              <label>Email or User Id:
                <input matInput value="{{user?.user_email}}" style="width:200px !important">
                <img [src]="user?.user_photoURL" [ngStyle]="{'height': '20px'}" *ngIf="user && user.user_photoURL">
              </label>
            </div>
            <div>
              <label>Logged in provider:
                <input matInput value="{{user?.providerData_providerId}}" style="width:100px !important">
              </label>
            </div>
           </fieldset>
           <fieldset style="text-align:left;">
            <legend>
              Find Address: 
              <!-- <span style="min-width: 10px;display: inline-block;"></span> -->
              <button mat-icon-button (click)="formSvc.findLocation()">
                <mdc-icon>location_searching</mdc-icon>
              </button>
            </legend>
              <div id='bingTypeaheadDivContainer'>
                  <input id='bingTypeaheadInput' formControlName="address" type="text" placeholder="find your Address" autocomplete="off">
                  <!-- <input id="searchBox" name="searchBox" matInput type="text" [formControl]="address" placeholder="find your address" [matAutocomplete]="HereAutoComplete"> -->
              </div>
            <mat-form-field style="width:200px !important; margin-left: 5px;">
                <input matInput type="text" [formControl]="formSvc.typeaheadHereControl" placeholder="find your address" [matAutocomplete]="HereAutoComplete">
                <mat-autocomplete autoActiveFirstOption #HereAutoComplete="matAutocomplete">
                  <mat-option *ngFor="let hereGeo of formSvc.typeaheadHereList$ | async; let index = index" [value]="hereGeo.label">
                    {{ hereGeo.label}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field style="width:200px !important; margin-left: 5px;">
                  <input matInput type="text" [formControl]="formSvc.typeaheadMapTilerControl" placeholder="find your address" [matAutocomplete]="MapTilerAutoComplete">
                  <mat-autocomplete autoActiveFirstOption #MapTilerAutoComplete="matAutocomplete">
                    <mat-option *ngFor="let mapTiler of formSvc.typeaheadMapTilerList$ | async; let index = index" [value]="mapTiler.display_name">
                      {{ mapTiler.display_name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
            <div>
              <mat-form-field style="width:100% !important; margin-left: 5px;">
                <input matInput placeholder="Street" readonly>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field style="width:120px !important; margin-left: 5px;">
                <input matInput placeholder="City">
              </mat-form-field >
              <mat-form-field style="width:120px !important; margin-left: 5px;">
                <input matInput placeholder="State">
              </mat-form-field>
              <mat-form-field style="width:120px !important; margin-left: 5px;">
                <input matInput placeholder="Zip Code">
              </mat-form-field>
              <mat-form-field style="width:120px !important; margin-left: 5px;">
                <input matInput placeholder="Country">
              </mat-form-field>
              <mat-form-field hintLabel="{{formSvc.FIELD_HINT_PHONECOUNTRYCODE}}" style="width:100px !important; margin-left: 5px;">
                <input matInput formControlName='phoneCountryCode' placeholder="Code" maxlength="3" numbersOnly>
              </mat-form-field>
              <mat-form-field hintLabel="{{formSvc.FIELD_HINT_PHONENUMBER}}" style="width:150px !important; margin-left: 5px;">
                <input matInput formControlName='phoneNumber' placeholder="Phone" maxlength="10" numbersOnly> 
              </mat-form-field>
            </div>
           </fieldset>
           <fieldset style="text-align:left;">
            <legend>Condition-Category-Cost</legend>
            <div>
              <mat-form-field style="width:60px !important; margin-left: 5px;">
                <select matNativeControl placeholder="Condition" formControlName="condition" required>
                  <option *ngFor="let condition of formSvc.conditions" [value]="condition">
                    {{condition.description}}
                  </option>
                </select>
                <mat-error *ngIf="formSvc.form.controls['condition'].errors?.required">{{formSvc.FIELD_MSG_REQ}}</mat-error>
              </mat-form-field>
              <mat-form-field style="width:200px !important; margin-left: 5px;">
                <input matInput type="text" formControlName="category" placeholder="Category" [matAutocomplete]="category" required>
                <mat-autocomplete #category="matAutocomplete" [displayWith]="formSvc.typeaheadCategoryDisplayFn">
                  <mat-option *ngFor="let category of formSvc.typeaheadCategoryList$ | async" [value]="category">
                    {{category.description}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="formSvc.form.controls['category'].errors?.required">{{formSvc.FIELD_MSG_REQ}}</mat-error>
              </mat-form-field>
              <mat-form-field hintLabel="{{formSvc.FIELD_HINT_DISPLAYDAYS}}" style="width:160px !important; margin-left: 5px;">
                  <input matInput formControlName='adDisplayDays' placeholder="Days" numbersOnly required>
                  <mat-error *ngIf="formSvc.form.controls['adDisplayDays'].errors?.required">{{formSvc.FIELD_MSG_REQ}}</mat-error>
                  <mat-error *ngIf="formSvc.form.controls['adDisplayDays'].hasError('range')">{{formSvc.FIELD_HINT_DISPLAYDAYS}}</mat-error>
              </mat-form-field>
              <mat-form-field hintLabel="{{formSvc.FIELD_HINT_ITEMCURRENCYCODE}}" style="width:60px !important; margin-left: 5px;">
                <input matInput type="text" placeholder="Code" formControlName="itemCurrencyCode" [matAutocomplete]="itemCurrencyCode" [ngStyle]="{'text-transform': 'uppercase'}">
                <mat-autocomplete #itemCurrencyCode="matAutocomplete" >
                  <mat-option *ngFor="let itemCurrencyCode of formSvc.typeaheadCurrencyList$ | async" [value]="itemCurrencyCode">
                    {{itemCurrencyCode}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field hintLabel="{{formSvc.FIELD_HINT_ITEMCOST}}" style="width:100px !important; margin-left: 5px;">
                <input matInput #inputCost formControlName='itemCost' placeholder="Cost" decimalsOnly>
              </mat-form-field>
            </div>
           </fieldset>
          <div>
            <div class="form">
              <mat-form-field color="accent">
                <textarea matInput #inputTitle formControlName='title' placeholder="Title" name="title" minlength="2" maxlength="500"  required></textarea>
                <mat-error *ngIf="formSvc.form.controls['title'].errors?.required">{{formSvc.FIELD_MSG_REQ}}</mat-error>
                <mat-error *ngIf="formSvc.form.controls['title'].errors?.minlength">{{formSvc.FIELD_MSG_MIN}}</mat-error>
                <mat-hint align="end">{{inputTitle.value?.length || 0}}/500</mat-hint>
              </mat-form-field>
            </div>
            <div class="form">
              <mat-form-field color="accent">
                <textarea matInput #inputContent formControlName='content' placeholder="Details" name="content" minlength="2" maxlength="8000" required></textarea>
                <mat-error *ngIf="formSvc.form.controls['content'].errors?.required">{{formSvc.FIELD_MSG_REQ}}</mat-error>
                <mat-error *ngIf="formSvc.form.controls['content'].errors?.minlength">{{formSvc.FIELD_MSG_MIN}}</mat-error>
                <mat-hint align="end">{{inputContent.value?.length || 0}}/8000</mat-hint>
              </mat-form-field>
            </div>
            <div>
              <input type="Submit" value="Create Advertisement" [disabled]="formSvc.form.invalid">
              <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
            </div>
          </div>
        </form>
      </div>
    </article>
    <aside fxFlex="25" fxFlexOrder.xs="3">
      <div></div>
    </aside>
  </div>
</div>

<button mat-raised-button color="primary" (click)="onSubmit()">submit</button>
<app-ad-create-map></app-ad-create-map>

