  .container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
  }
  
  .container > * {
    width: 100%;
  }
  
  .form {
    display: flex;
    padding-top: 6px;
  }
  
  .mat-form-field {
    font-size: 16px;
    flex-grow: 1;
  }

  // .form-element {
  //   width: 400px;
  // }

  

  
.form-element {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 15px;
  padding-bottom: 20px;
  padding-top: 6px;
  width: 100%;


  input:focus {
    border: solid 1px #3d3d3d;
  }

  checkbox {
    width: 32px;
    height: 32px;
  }

  .close-icon {
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    outline: 0;
    height: 0;
    cursor: pointer;
  }

  .close-icon:after {
    content: "X";
    position: absolute;
    z-index: 1;
    right: 15px;
    bottom: 53px;
    margin: auto;
    color: #ff3328;
    cursor: pointer;
    font-size: 14px;
  }

  .ng-touched.ng-invalid {
    border-color: #ff3328;
    border-radius: 3px;
    border: solid 1px #ff3328;
    font-family: OpenSans;
    font-size: 16px;
    color: #ff3328;
  }

  input:disabled {
    background-color: #ffffff;
    border: solid 1px #b2bac4;
    font-family: OpenSans;
    font-size: 16px;
    color: #b2bac4;
  }

  tag-input {
    min-height: 65px;
  }
}

.location, .tags {
  width: 90%;
}
  