<div fxLayout="column">
  <div fxLayout="row" style="text-align:center;">
    <nav fxFlex="25" fxFlexOrder.xs="2">
      <div></div>
    </nav>
    <article fxFlex="50" fxFlexOrder.xs="1">
      <div>
        <H1>Create Advertisement</H1>
      </div>
      <div>
        <form [formGroup]='formSvc.form' (ngSubmit)="formSvc.form.valid && onSubmit()" novalidate>
          <div *ngIf="user && user.user_photoURL">
            <img [src]="user?.user_photoURL" [ngStyle]="{'height': '20px'}">
          </div>
          <div><label>{{user?.user_displayName}}</label></div>
          <div><label>{{user?.user_email}}</label></div>
          <div><label>{{user?.providerData_providerId}}</label></div>
          <div><label>{{user?.user_phoneNumber}}</label></div>
          
          <div>
            <mat-form-field>
              <select matNativeControl placeholder="Select Condition" formControlName="condition" required>
                <option *ngFor="let condition of formSvc.conditions" [value]="condition">
                  {{condition.description}}
                </option>
              </select>
              <mat-error *ngIf="formSvc.form.controls['condition'].errors?.required">{{formSvc.FIELD_MSG_REQ}}</mat-error>
            </mat-form-field>
            <!-- <mat-form-field>
              <select matNativeControl placeholder="Select Category:" formControlName="category">
                <option value="" disabled selected></option>
                <option *ngFor="let category of formSvc.categories" [value]="category">
                  {{category.description}}
                </option>
              </select>
            </mat-form-field> -->
            <div>
                <mat-form-field>
                    <input matInput type="text" formControlName="category" placeholder="Select Category:" [matAutocomplete]="category" required>
                    <mat-autocomplete #category="matAutocomplete" [displayWith]="formSvc.categoryDisplayFn">
                      <mat-option *ngFor="let category of formSvc.filteredCategories | async" [value]="category">
                        {{category.description}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="formSvc.form.controls['category'].errors?.required">{{formSvc.FIELD_MSG_REQ}}</mat-error>
                  </mat-form-field>
            </div>
            <div class="form">
              <mat-form-field color="accent">
                <textarea matInput #inputTitle formControlName='title' placeholder="Title" name="title" minlength="2" maxlength="500"  required></textarea>
                <mat-error *ngIf="formSvc.form.controls['title'].errors?.required">{{formSvc.FIELD_MSG_REQ}}</mat-error>
                <mat-error *ngIf="formSvc.form.controls['title'].errors?.minlength">{{formSvc.FIELD_MSG_MIN}}</mat-error>
                <mat-hint align="end">{{inputTitle.value?.length || 0}}/500</mat-hint>
              </mat-form-field>
            </div>
            <div class="form">
              <mat-form-field color="accent">
                <textarea matInput #inputContent formControlName='content' placeholder="Content" name="content" minlength="2" maxlength="8000" required></textarea>
                <mat-error *ngIf="formSvc.form.controls['content'].errors?.required">{{formSvc.FIELD_MSG_REQ}}</mat-error>
                <mat-error *ngIf="formSvc.form.controls['content'].errors?.minlength">{{formSvc.FIELD_MSG_MIN}}</mat-error>
                <mat-hint align="end">{{inputContent.value?.length || 0}}/8000</mat-hint>
              </mat-form-field>
            </div>
            <mat-form-field>
              <input matInput formControlName='adDisplayDays' placeholder="Days to Display(1-255):" numbersOnly required>
              <mat-error *ngIf="formSvc.form.controls['adDisplayDays'].errors?.required">{{formSvc.FIELD_MSG_REQ}}</mat-error>
              <mat-error *ngIf="formSvc.form.controls['adDisplayDays'].hasError('range')">{{formSvc.FIELD_MSG_DISPLAYDAYS_MAX}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName='userIdOrEmail' placeholder="User Id or Email:" required>
              <mat-error *ngIf="formSvc.form.controls['userIdOrEmail'].errors?.required">{{formSvc.FIELD_MSG_REQ}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName='phoneCountryCode' placeholder="Phone Calling Code(1-995):" maxlength="3" numbersOnly>
              <mat-error *ngIf="formSvc.form.controls['phoneCountryCode'].hasError('range')">{{formSvc.FIELD_MSG_PHONECOUNTRYCode_MAX}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName='phoneNumber' placeholder="Phone Number:" maxlength="10" numbersOnly>
            </mat-form-field>
            <div>
              <h3>Address</h3>
              <mat-form-field>
                <input matInput formControlName='addressStreet' placeholder="Street:">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName='addressPartiesMeetingLandmark' placeholder="Address Parties Meeting Land mark:">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName='addressCity' placeholder="City Name">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName='addressState' placeholder="State Name">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName='addressZipCode' placeholder="Zip Code">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName='addressCountryCode' placeholder="Country Code">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName='addressCountryName' placeholder="Country Name">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName='longitude' placeholder="longitude">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName='latitude' placeholder="latitude">
              </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="text" placeholder="currency code" formControlName="itemCurrencyCode" [matAutocomplete]="itemCurrencyCode" [ngStyle]="{'text-transform': 'uppercase'}">
                    <mat-autocomplete #itemCurrencyCode="matAutocomplete" >
                      <mat-option *ngFor="let itemCurrencyCode of formSvc.filteredCurrencyCodes | async" [value]="itemCurrencyCode">
                        {{itemCurrencyCode}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
            </div>
            <mat-form-field>
              <input matInput #inputCost formControlName='itemCost' placeholder="Cost:" decimalsOnly>
            </mat-form-field>
            <div>
              <input type="Submit" value="Create Advertisement" [disabled]="formSvc.form.invalid">
              <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
            </div>
          </div>
        </form>
      </div>
    </article>
    <aside fxFlex="25" fxFlexOrder.xs="3">
      <div></div>
    </aside>
  </div>
</div>
