.lmSection_article {
    background: black;
    color:white;
    text-align:center;
  }
  
  .mmSection_article {
    text-align:center;
  }
  
  .rmSection_article {
    background: black;
    color:white;
    text-align:center;
  }