<div fxLayout="row" class="container" fxLayoutAlign="center">
  <div fxFlex="33%"></div>
  <div fxLayout="column" fxFlex="34%" style="min-width: 300px;">
    <div fxLayout="row" style="height: 40px;">
        <div fxFlex="66%">
            <input type="text" style="width:100%; height: 85%; font-size: 20px;">
          </div>
          <div fxLayout="row" fxFlex="170px" fxLayoutAlign="space-around center">
            <button (click)="showSearchBarClick()">
                Advanced Search<mat-icon>arrow_drop_down</mat-icon>
              </button>
          </div>
          <div fxFlex="40px" fxLayoutAlign="space-around center">
              <button (click)="search()">
                <mat-icon>search</mat-icon>
              </button>
          </div>
    </div>
    <div fxLayout="row" style="height: 360px; background-color: gainsboro;" *ngIf="showSearchBarMenu">
        <app-article-search-criteria></app-article-search-criteria>
    </div>
  </div>
  <div fxFlex="33%"></div>
</div>