<div fxLayout="column">
  <div fxLayout="row" style="text-align:center;">
    <nav fxFlex="15" fxFlexOrder.xs="2">
      <div></div>
    </nav>
    <article fxFlex="70" fxFlexOrder.xs="1">
      <div>
        <div>
          <app-ad-search></app-ad-search>
        </div>
        <div>
            <div><H1>Displayed Advertisements Total: {{ads?.length}}</H1></div>
            <div *ngFor="let ad of ads">
                <a [routerLink]="['/ad-list/read/']" [queryParams]="{ id: ad.adId}">{{ad.adId}} - {{ad.adTitle}}</a>
            </div>
          </div>
      </div>
    </article>
    <aside fxFlex="15" fxFlexOrder.xs="3">
      <div></div>
    </aside>
  </div>
</div>